<?xml version="1.0" encoding="utf-8"?>
<config>
	<fieldset name="vacancy" label="COM_CLUBLEADDIR_CONFIG_VACANCY_LABEL" description="COM_CLUBLEADDIR_CONFIG_VACANCY_DESC">
		<field name="vacant_contact_id" type="sql"
			   label="COM_CLUBLEADDIR_FIELD_VACANT_CONTACT_LABEL"
			   description="COM_CLUBLEADDIR_FIELD_VACANT_CONTACT_DESC"
			   query="SELECT CONCAT(a.name, ' (', a.email_to, ')') AS text, a.id AS value FROM #__contact_details a ORDER BY a.name ASC"
			   key_field="value" value_field="text"
			   multiple="false">
			<option value="0">COM_CLUBLEADDIR_FIELD_VACANT_CONTACT_NONE</option>
		</field>
		<field name="vacancy_default_email" type="text"
			   label="COM_CLUBLEADDIR_FIELD_VACANCY_EMAIL"
			   description="COM_CLUBLEADDIR_FIELD_VACANCY_EMAIL_HELP"
			   filter="string" />
	</fieldset>
</config>
